footer{
	.footer{
		width: 100%;
		.container{
			display: flex;
			justify-content: center;
			position: relative;
			.social_hub{
				padding-left: 50px;
				max-width:450px ;
				display: flex;
				flex-direction: center;
				justify-content: space-between;
				position: absolute;
				margin: 0 auto;
				transform: translateY(250%);
				a{
					img{
					cursor: pointer;
					margin-right: 50px;
					width: 75px;
					height: 75px;
					a:hover{
						width: 100px;
						height: 100px;
						transition: 1s all;
					}
					}
					a:hover{
						width: 100px;
						height: 100px;
						transition: 1s all;
					}
				}
			}
		}
	}
}