footer{
	.footer{
		width: 100%;
		.container{
			text-align: center;
			position: relative;
			display: flex;
			justify-content: center;
			.social_hub{
				margin-left:200px;
				display: flex;
				justify-content: center;
				width:50%;
				transform: translateY(250%);
				a{
					img{
					cursor: pointer;
					margin-right: 50px;
					width: 75px;
					height: 75px;
					a:hover{
						width: 100px;
						height: 100px;
						transition: 1s all;
					}
					}
					a:hover{
						width: 100px;
						height: 100px;
						transition: 1s all;
					}
				}
			}
		}
	}
}