body{
	background: url(../img/bg_promo/i-wEjb-mHpg.jpg) center (center/cover)no-repeat;
	max-width: 1880px;
	min-height: 860px;
	.promo{
		display: block;
		margin: 0 auto;
		.container{
			display: block;
			margin: 0 auto;
			.contacts{
				padding: 20px 40px;
				text-align: center;
				transform: translateY(25%);
				display: block;
				margin: 0 auto;
				width: 80%;
				height: 500px;
				background-color: rgba(0,0,0, .6);
				font-family: 'PT Serif', serif;
				font-size: 25px;
				color: white;
				border-radius: 8px;
				text-transform: uppercase;
			}
		}
		.navbar{
		padding-top: 50px;
		width: 100%;
		font-size: 14px;
		letter-spacing: 2px;
		font-family: 'PT Serif', serif;
		text-transform: uppercase;
		font-weight: 700;
		&__menu{
			display: flex;
			justify-content: space-around;
			text-transform: uppercase;
			li{
				
				list-style-type: none;
			}
			a{
				color: #000000;
				text-decoration: none;
				cursor: pointer;
				&:hover{
					font-size: 15px;
					letter-spacing: 6px;
					transition: 1s all;
					text-shadow: 3px 10px 6px  rgba( 0, 0, 0, 1);
				}
			}
		}
	}
}
}