@import"../sass/fonts";
@import"../sass/promo";
@import"../sass/footer";
@import"../sass/collection2019.scss";
@import"../sass/collection2020.scss";
@import"../sass/contacts.scss";
@import"../sass/cooperation.scss";
@import"../sass/mans.scss";
@import"../sass/womans.scss";
body{
    background: url(../img/bg_promo/zhZXV4eGLhI.jpg) center (center/cover)no-repeat;

    .promo{
		.navbar{
		padding-top: 50px;
		width: 100%;
		font-size: 14px;
		letter-spacing: 2px;
		font-family: 'PT Serif', serif;
		text-transform: uppercase;
		font-weight: 700;
		&__menu{
			display: flex;
			justify-content: space-around;
			text-transform: uppercase;
			li{
				list-style-type: none;
			}
			a{
				color: #ffffff;
				text-decoration: none;
				cursor: pointer;
				&:hover{
					color: #ffffff;
					font-size: 15px;
					letter-spacing: 5px;
					transition: 1s all;
					text-shadow: 3px 10px 6px  rgba( 251, 251, 251, 1);
				}
			}
        }
    }
}
}
